<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.com.ricindigus.generadorinei">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_generador"
        android:label="GenerApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name=".activities.activities_encuesta.MarcoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name=".activities.activities_encuesta.EncuestaActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name=".activities.activities_encuesta.ExportarActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name=".activities.activities_encuesta.ImportarActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name=".activities.activities_creacion.CreacionActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name=".activities.activities_creacion.CargarEncuestaActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name=".activities.activities_creacion.EditarEncuestaActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name=".activities.activities_creacion.ExportarEncuestaActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name=".activities.activities_creacion.CrearEncuestaActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"
            android:label="@string/title_activity_crear_encuesta"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.activities_creacion.IngresarModuloActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity android:name=".activities.activities_creacion.activities_preguntas.VisitasActivity" />
        <activity android:name=".activities.activities_creacion.activities_preguntas.GPSActivity" />
        <activity android:name=".activities.activities_creacion.activities_preguntas.UbicacionActivity" />
        <activity android:name=".activities.activities_creacion.activities_preguntas.FormularioActivity" />
        <activity android:name=".activities.activities_creacion.activities_preguntas.EditTextActivity" />
        <activity android:name=".activities.activities_creacion.activities_preguntas.CheckBoxActivity" />
        <activity android:name=".activities.activities_creacion.activities_preguntas.RadioActivity" />
    </application>

</manifest>